# 构建产物
build/
dist/
lingwtools-setup-*.exe
lingwtools-windows-x64*.zip
lingwtools-macos-*.dmg
LingWangToolbox-*.exe
LingWangToolbox-*.zip
*.zip
*.dmg

# IDE / 系统
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db
CMakeUserPresets.json
wiz*.log
